POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgrespassword
POSTGRES_DB=orbis

DATABASE_URL=postgresql://postgres:postgrespassword@database:5432/orbis?schema=public

AUTH0_ISSUER_BASE_URL=https://dev-dummy.auth0.com/
AUTH0_AUDIENCE=https://api.orbis.com

VITE_API_URL=
VITE_SUPABASE_URL=https://dummy-project.supabase.co
VITE_SUPABASE_ANON_KEY=dummy-anon-key
VITE_SUPABASE_SERVICE_ROLE_KEY=dummy-service-role-key